html{
    text-align: center;
    color: black;
    
}

h1, h2, h3, h4, p{
 
    font-family: 'Cutive Mono', monospace;
    
}

.navbar{
    
    background-color: black;
    
}

.navbar a{

    font-family: 'Cutive Mono', monospace;  
    color: white;

}

.header{
    
    padding-top: 10%;
}

.section-1{
    
    padding-top: 5%;    
}

.logo{
    
    height: 128px;
}